---
import { work } from "@cv";
---

<div class="experience-list">
  {
    work.map(({ name, position, summary, startDate, endDate, highlights }) => {
      const startYear = new Date(startDate).getFullYear();
      const endYear =
        endDate != null ? new Date(endDate).getFullYear() : "Present";
      const yearRange = `${startYear} - ${endYear}`;

      return (
        <div class="card">
          <header>
            <h3>{name}</h3>
            <p class="position">{position}</p>
            <p class="year">{yearRange}</p>
          </header>
          <p>{summary}</p>
          {highlights && (
            <ul class="highlights">
              {highlights.map((highlight) => (
                <li>{highlight}</li>
              ))}
            </ul>
          )}
        </div>
      );
    })
  }
</div>

<style>
  .experience-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .card {
    background: var(--card-bg);
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    transition:
      transform 0.3s,
      border-color 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
    border-color: var(--accent-cyan);
  }

  .card header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
  .card h3 {
    color: var(--accent-cyan);
    font-size: 1.25rem;
    margin: 0;
  }
  .card .position {
    color: var(--text-main);
    margin: 0;
  }
  .card .year {
    color: var(--text-muted);
    font-family: var(--font-mono);
  }
  .card p {
    color: var(--text-muted);
    font-size: 0.9rem;
    margin: 0;
  }
  .highlights {
    list-style-type: disc;
    margin-top: 1rem;
    padding-left: 1.5rem;
    color: var(--text-muted);
    font-size: 0.9rem;
  }
</style>
